<?xml version="1.0" encoding="UTF-8"?>
<configuration
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://www.padual.com/java/logback.xsd">
	<property resource="application.properties" />
	<appender name="consoleAppender"
		class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_directory}/ecommerce.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log_directory}/ecommerce_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] [%thread] %class{36}.%M %L
				- %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="ERROR_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_directory}/ecommerce_error.log</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover. Make sure the path matches the one in the file element 
				or else the rollover logs are placed in the working directory. -->
			<fileNamePattern>${log_directory}/ecommerce_error_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] [%thread] %class{36}.%M %L
				- %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="DEBUG_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log_directory}/ecommerce_debug.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log_directory}/ecommerce_debug_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>

			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			keep 30 days' worth of history
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] [%thread] %class{36}.%M %L
				- %msg%n
			</pattern>
		</encoder>
	</appender>
	<logger name="org.springframework" level="INFO">
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="com.ecommerce" level="INFO">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="FILE" />
	</logger>
	<logger name="org.hibernate" level="INFO">
		<appender-ref ref="consoleAppender" />
	</logger>
	<logger name="com.ecommerce" level="DEBUG">
		<appender-ref ref="DEBUG_FILE" />
	</logger>
	<root level="ERROR">
		<appender-ref ref="ERROR_FILE" />
	</root>

</configuration>